<div style="color: {{ section.settings.image_text_color }}; background-color: {{ section.settings.image_text_background }}" class="_2c-grid-wrapper">
          <div style="flex-direction: {{ section.settings.flex-direction }}" class="_2c">
            <div class="_2c-image-wrapper-padding image-wrapper padding-{{ section.settings.padding }}">{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 1000 | image_tag: loading: 'eager', class: 'image' }}
{% else %}
<img loading="eager" alt="" src="{{ 'placholder-8.svg' | asset_url }}" class="image">
{% endif %}</div>
            <div id="w-node-_84e696ad-a15b-02c4-1726-23c9b82b1efb-6d70ba66" class="_2c-content">
              <div class="flex-placeholder"></div>
              <div class="body-text w-richtext"> {{ section.settings.richtext_body_text }} </div>
              <div>
{{ section.settings.text_small_title }}
</div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Image and text",
    "class": "section_image_text",
    "settings": [
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        },
        {
            "id": "richtext_body_text",
            "type": "richtext",
            "label": "Body text",
            "default": "<p>\n                However, experimentation and combination of unusual materials are also part of our core design values. We have worked with suspended flowers in acrylic heels, leather applications opening up to reveal satin under layers, vegetal furs bursting out of tiny pumps\u2026\n              <\/p>"
        },
        {
            "id": "text_small_title",
            "type": "text",
            "label": "Small Title",
            "default": "This is some text inside of a div block."
        },
        {
            "type": "header",
            "content": "Colors"
        },
        {
            "type": "color",
            "id": "image_text_color",
            "label": "Text color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "image_text_background",
            "label": "Background Color",
            "default": "#ffffff"
        },
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "select",
            "id": "flex-direction",
            "label": "Switch columns",
            "options": [
                {
                    "value": "row-reverse",
                    "label": "On"
                },
                {
                    "value": "row",
                    "label": "Off"
                }
            ],
            "default": "row"
        },
        {
            "type": "select",
            "id": "padding",
            "label": "Image padding",
            "options": [
                {
                    "value": "on",
                    "label": "On"
                },
                {
                    "value": "off",
                    "label": "Off"
                }
            ],
            "default": "on"
        }
    ],
    "presets": [
        {
            "name": "Image and text",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}