<div data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4&intent=related" class="product-recommendations">
          <div class="product_list background">{% if section.settings.image_background_image_1 %}
{{ section.settings.image_background_image_1 | image_url: width: 1000 | image_tag: class: 'recommended-product-background', sizes: '(max-width: 1200px) 100vw, 1200px', loading: 'lazy' }}
{% else %}
<img class="recommended-product-background" src="{{ 'Newspaper-images-2.jpg' | asset_url }}" alt="" sizes="(max-width: 1200px) 100vw, 1200px" loading="lazy" srcset="{{ 'Newspaper-images-2.jpg' | asset_url }} 500w, {{ 'Newspaper-images-2.jpg' | asset_url }} 800w, {{ 'Newspaper-images-2.jpg' | asset_url }} 1080w, {{ 'Newspaper-images-2.jpg' | asset_url }} 1200w">
{% endif %}{% if section.settings.image_background_image_2 %}
{{ section.settings.image_background_image_2 | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'recommended-product-background' }}
{% else %}
<img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="recommended-product-background">
{% endif %}{% if section.settings.image_background_image_3 %}
{{ section.settings.image_background_image_3 | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'recommended-product-background' }}
{% else %}
<img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="recommended-product-background">
{% endif %}</div>
          <div class="headline-wrapper">
            <div>
{{ section.settings.text_heading }}
</div>
          </div>
          <div class="product_list-wrapper">
            <ul role="list" class="product_list w-list-unstyled">
              {% for product in recommendations.products %}    <li li-for="product in recommendations.products" class="product_list-item">
                                    
                
                            {% render 'product_item', product: product %}
                            
              
                        </li>
{% endfor %}
            </ul>
          </div>
        </div>
        <div class="hide w-embed w-script">
          <script>
  document.addEventListener('DOMContentLoaded', function() {
    const productRecommendationsSection = document.querySelector('.product-recommendations');
    const url = productRecommendationsSection.dataset.url;
    fetch(url)
      .then(response => response.text())
      .then(text => {
      const html = document.createElement('div');
      html.innerHTML = text;
      const recommendations = html.querySelector('.product-recommendations');
      if (recommendations && recommendations.innerHTML.trim().length) {
        productRecommendationsSection.innerHTML = recommendations.innerHTML;
      }
    })
      .catch(e => {
      console.error(e);
    });
  });
</script>
        </div> {% schema %} {
    "tag": "section",
    "name": "Recommended Products",
    "class": "section_product-recommended",
    "settings": [
        {
            "id": "image_background_image_1",
            "type": "image_picker",
            "label": "Background Image 1"
        },
        {
            "id": "image_background_image_2",
            "type": "image_picker",
            "label": "Background Image 2"
        },
        {
            "id": "image_background_image_3",
            "type": "image_picker",
            "label": "Background Image 3"
        },
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "YOU MIGHT LIKE THESE"
        }
    ],
    "presets": [
        {
            "name": "Recommended Products",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "product"
        ]
    }
} {% endschema %}