<div style="justify-content: {{ section.settings.align }}" class="seq-image-flex {{ section.settings.width }}">
          <div style="padding: {{ section.settings.padding }}rem" class="seq-image-wrapper {{ section.settings.width }}">{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 2000 | image_tag: loading: 'lazy', class: 'seq-image' }}
{% else %}
<img src="{{ 'Fresco1-1-Large.jpeg' | asset_url }}" loading="lazy" alt="" class="seq-image">
{% endif %}</div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Sequence Image",
    "class": "section_seq_image",
    "settings": [
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        },
        {
            "type": "header",
            "content": "Size"
        },
        {
            "type": "select",
            "id": "width",
            "label": "Image Width",
            "options": [
                {
                    "value": "xxxs",
                    "label": "XXXS"
                },
                {
                    "value": "xxs",
                    "label": "XXS"
                },
                {
                    "value": "xs",
                    "label": "XS"
                },
                {
                    "value": "s",
                    "label": "S"
                },
                {
                    "value": "m",
                    "label": "M"
                },
                {
                    "value": "l",
                    "label": "L"
                },
                {
                    "value": "xl",
                    "label": "XL"
                },
                {
                    "value": "xxl",
                    "label": "XXL"
                },
                {
                    "value": "xxxl",
                    "label": "XXXL"
                },
                {
                    "value": "full",
                    "label": "Full"
                }
            ],
            "default": "m"
        },
        {
            "type": "header",
            "content": "Align"
        },
        {
            "type": "select",
            "id": "align",
            "label": "Align",
            "options": [
                {
                    "value": "flex-start",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "flex-end",
                    "label": "Right"
                }
            ],
            "default": "center"
        },
        {
            "type": "header",
            "content": "Padding"
        },
        {
            "type": "range",
            "id": "padding",
            "label": "Padding",
            "default": 0,
            "min": 0,
            "max": 5,
            "step": 1,
            "unit": "rem"
        }
    ],
    "presets": [
        {
            "name": "Sequence Image",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}