<div style="justify-content: {{ section.settings.align }}" class="seq-image-flex">
          <div style="padding: {{ section.settings.padding }}rem" class="seq-image-wrapper x-small {{ section.settings.width }}">
            <div style="" src="{{ section.settings.image }}" class="seq-image">object-fit: {{ section.settings.contain }}</div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Sequence Image",
    "class": "section_seq_image",
    "settings": [
        {
            "type": "header",
            "content": "Image"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "select",
            "id": "contain",
            "label": "Contain or cover Image",
            "options": [
                {
                    "value": "contain",
                    "label": "Contain"
                },
                {
                    "value": "cover",
                    "label": "Cover"
                }
            ],
            "default": "contain"
        },
        {
            "type": "header",
            "content": "Align Image"
        },
        {
            "type": "select",
            "id": "align",
            "label": "Align Image",
            "options": [
                {
                    "value": "flex-start",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "flex-end",
                    "label": "Right"
                }
            ],
            "default": "center"
        },
        {
            "type": "header",
            "content": "Image Width"
        },
        {
            "type": "select",
            "id": "width",
            "label": "Image Width",
            "options": [
                {
                    "value": "x-small",
                    "label": "Extra Small"
                },
                {
                    "value": "small",
                    "label": "Small"
                },
                {
                    "value": "medium",
                    "label": "Medium"
                },
                {
                    "value": "large",
                    "label": "Large"
                },
                {
                    "value": "full",
                    "label": "Full"
                }
            ],
            "default": "medium"
        },
        {
            "type": "header",
            "content": "Image Padding"
        },
        {
            "type": "range",
            "id": "padding",
            "label": "Padding",
            "default": 0,
            "min": 0,
            "max": 5,
            "step": 1,
            "unit": "rem"
        }
    ],
    "presets": [
        {
            "name": "Sequence Image",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}