<div style="justify-content: {{ section.settings.align }}" class="seq-image-flex">
          <div style="padding: {{ section.settings.padding }}rem" class="seq-image-wrapper {{ section.settings.width }}">{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 1000 | image_tag: class: 'seq-image', sizes: '(max-width: 1280px) 100vw, 1280px', loading: 'lazy' }}
{% else %}
<img class="seq-image" src="{{ 'ADULT_SS_1811-2-Large.jpeg' | asset_url }}" alt="" sizes="(max-width: 1280px) 100vw, 1280px" loading="lazy" srcset="{{ 'ADULT_SS_1811-2-Large.jpeg' | asset_url }} 500w, {{ 'ADULT_SS_1811-2-Large.jpeg' | asset_url }} 800w, {{ 'ADULT_SS_1811-2-Large.jpeg' | asset_url }} 1080w, {{ 'ADULT_SS_1811-2-Large.jpeg' | asset_url }} 1280w">
{% endif %}</div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Sequence Image",
    "class": "section_seq_image",
    "settings": [
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        },
        {
            "type": "header",
            "content": "Size"
        },
        {
            "type": "select",
            "id": "width",
            "label": "Image Width",
            "options": [
                {
                    "value": "x-small",
                    "label": "Extra Small"
                },
                {
                    "value": "small",
                    "label": "Small"
                },
                {
                    "value": "medium",
                    "label": "Medium"
                },
                {
                    "value": "large",
                    "label": "Large"
                },
                {
                    "value": "full",
                    "label": "Full"
                }
            ],
            "default": "medium"
        },
        {
            "type": "header",
            "content": "Align"
        },
        {
            "type": "select",
            "id": "align",
            "label": "Align",
            "options": [
                {
                    "value": "flex-start",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "flex-end",
                    "label": "Right"
                }
            ],
            "default": "center"
        },
        {
            "type": "header",
            "content": "Padding"
        },
        {
            "type": "range",
            "id": "padding",
            "label": "Padding",
            "default": 0,
            "min": 0,
            "max": 5,
            "step": 1,
            "unit": "rem"
        }
    ],
    "presets": [
        {
            "name": "Sequence Image",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}